@import "./gruvbox-dark.css";

* {
    border: none;
    font-size: 13px;
    font-family: "JetBrainsMono NF";
}

window#waybar {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    box-shadow: none;
}


/* === Shared Module Style === */
#cpu,
#memory,
#disk,
#custom-temperature,
#temperature,
#custom-dot,
#mpris,
#workspaces,
#tray,
#battery,
#power-profiles-daemon,
#custom-notification,
#backlight,
#pulseaudio,
#network,
#custom-vpn,
#clock,
#custom-power {
    background-color: @bg;
    margin-top: 6px;
    padding: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}


/* === Costum Seperator & Dots === */
#custom-sep {
    background-color: transparent;
    padding: 6px;
}

#custom-dot {
    background-color: @bg;
    color: @gray-dim;
    font-size: 7px;
}


/* === Left Modules === */
#custom-power { 
    color: @red-dim; 
    margin-left: 7px;
    border-radius: 10px 0 0 10px; /* top-left, top-right, bottom-right, bottom-left */
    padding-left: 10px;
}

#power-profiles-daemon { color: @fg2; }

#battery { 
    color: @fg2; 
    border-radius: 0 10px 10px 0; /* top-left, top-right, bottom-right, bottom-left */
    padding-right: 10px;
}

#tray {
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}


/* === Right Modules === */
#cpu { 
    color: @fg2; 
    border-radius: 10px 0 0 10px; /* top-left, top-right, bottom-right, bottom-left */
    padding-left: 10px;
}

#memory { 
    color: @fg2; 
}

#custom-temperature { 
    color: @fg2; 
}

#temperature { 
    color: @fg2; 
}

#disk { 
    color: @fg2; 
}

#backlight { 
    color: @fg2; 
}

#pulseaudio { 
    color: @fg2; 
}

#network { 
    color: @fg2; 
    border-radius: 0 10px 10px 0; /* top-left, top-right, bottom-right, bottom-left */
    padding-right: 10px;
}

#custom-notification {
    color: @fg2;
    border-radius: 10px 0 0 10px; /* top-left, top-right, bottom-right, bottom-left */
    padding-left: 10px;
}

#clock {
    color: @fg2;
    border-radius: 0 10px 10px 0; /* top-left, top-right, bottom-right, bottom-left */
    padding-right: 10px;
    margin-right: 7px;
}



/* === Workspace Modules === */
#workspaces {
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

#workspaces label {
    background-color: @bg;
    font-size: 13px;
}

#workspaces label:hover {
    background-color: rgba(0, 0, 0, 0);
    color: @fg2;
}

#workspaces button {
    padding: 5px;
    background-color: rgba(0, 0, 0, 0);
    color: @bg2;
}

#workspaces button.active {
    background-color: rgba(0, 0, 0, 0);
    color: @fg2;
}

#workspaces button:hover {
    box-shadow: none;
    text-shadow: none;
    transition: none;
}

