@define-color rosewater #f5e0dc;
@define-color flamingo #f2cdcd;
@define-color pink #f5c2e7;
@define-color mauve #cba6f7;
@define-color red #f38ba8;
@define-color maroon #eba0ac;
@define-color peach #fab387;
@define-color yellow #f9e2af;
@define-color green #a6e3a1;
@define-color teal #94e2d5;
@define-color sky #89dceb;
@define-color sapphire #74c7ec;
@define-color blue #89b4fa;
@define-color lavender #b4befe;
@define-color text #cdd6f4;
@define-color subtext1 #bac2de;
@define-color subtext0 #a6adc8;
@define-color overlay2 #9399b2;
@define-color overlay1 #7f849c;
@define-color overlay0 #6c7086;
@define-color surface2 #585b70;
@define-color surface1 #45475a;
@define-color surface0 #313244;
@define-color base #1e1e2e;
@define-color mantle #181825;
@define-color crust #11111b;
@define-color crust-rgb-bg rgba(17, 17, 27, 0.9);

* {
    background-image: none;
    transition: 20ms;
    box-shadow: none;
}

window {
    background-color: rgba(0, 0, 0, 0.75); /* Slightly dark background */
}

button {
    color: #FFFFFF;
    background-color: @crust;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20%;
    border: none;
	  border-radius: 10px;
	  outline-style: none;
}

/* options */ 
#lock {
    background-color: @rosewater;
    background-image: image(url("icons/lock.png"));
    border-radius: 5px 0px 0px 0px;
    margin : 100px 0px 0px 550px;
}

#reboot {
    background-color: @peach;
	  background-image: image(url("icons/reboot.png"));
	  border-radius: 0px 0px 0px 5px;
    margin : 0px 0px 100px 550px;
}

#logout {
    background-color: @lavender;
	  background-image: image(url("icons/logout.png"));
	  border-radius: 0px 5px 0px 0px;
    margin : 100px 550px 0px 0px;
}

#shutdown {
    background-color: @red;
	  background-image: image(url("icons/shutdown.png"));
	  border-radius: 0px 0px 5px 0px;
    margin : 0px 550px 100px 0px;
}

/* options on hover */ 
button:hover {
    background-size: 25%;
}

button:hover#lock {
    border-radius: 10px 10px 0px 10px;
    margin : 80px 0px 0px 530px;
}

button:hover#reboot {
    border-radius: 10px 0px 10px 10px;
    margin : 0px 0px 80px 530px;
}

button:hover#logout {
    border-radius: 10px 10px 10px 0px;
    margin : 80px 530px 0px 0px;
}

button:hover#shutdown {
    border-radius: 0px 10px 10px 10px;
    margin: 0px 530px 80px 0px;
}

